@use "../../scss/variables" as *;

#contact {
    width: 100%;
    max-width: 1240px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    section {
        width: 100%;
    }
    .contact__banner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1240 / 225;
        position: relative;
        min-height: 111px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url("/public/background-contact.png");
            background-size: cover;
            background-position: center;
            border-radius: 25px;
            filter: brightness(90%);
            z-index: 1;
        }
        p {
            font-weight: 700;
            font-size: 48px;
            color: white;
            z-index: 2;
        }
    }
    .contact__list {
        display: flex;
        flex-direction: column;
        gap: 38px;
        margin: 0px 104px;
        .--collapse {
            width: 100%;
            height: 50px;
            background-color: $red-color;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                color: white;
                font-size: 24px;
                font-weight: 700;
                margin: 0px 15px;
            }
        }

        @media (max-width: $w-smartphone) {
            gap: 38px;
            margin: 0 0;
        }

        @media (min-width: $w-smartphone) and (max-width: $w-tablets) {
            gap: 38px;
            margin: 0 52px;
        }
    }
}