.index__banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1240/225;
  position: relative;
  min-height: 111px;
}
.index__banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F6F6F6;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  filter: brightness(40%);
  z-index: 1;
}
.index__banner h1 {
  font-weight: 700;
  font-size: 48px;
  color: white;
  z-index: 2;
  margin: 16px;
}
@media (max-width: 565px) {
  .index__banner h1 {
    font-size: 24px;
  }
}
@media (min-width: 565px) and (max-width: 1023px) {
  .index__banner h1 {
    font-size: 36px;
  }
}
@media (max-width: 565px) {
  .index__banner {
    justify-content: left;
  }
}

.section__gallery {
  width: 100%;
  max-width: 1240px;
  background-color: #F6F6F6;
  border-radius: 25px;
  margin-top: 50px;
}
@media (max-width: 565px) {
  .section__gallery {
    background-color: white;
    margin-top: 20px;
  }
}
.section__gallery .section__gallery--div {
  display: grid;
  gap: 56px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 56px;
}
@media (max-width: 565px) {
  .section__gallery .section__gallery--div {
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 20px;
  }
}
@media (min-width: 565px) and (max-width: 1023px) {
  .section__gallery .section__gallery--div {
    grid-template-columns: 1fr 1fr;
    gap: 28px;
    margin: 28px;
  }
}
@media (min-width: 1023px) and (max-width: 1240px) {
  .section__gallery .section__gallery--div {
    gap: 44px;
    margin: 44px;
  }
}
.section__gallery article {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  position: relative;
}
@media (max-width: 565px) {
  .section__gallery article {
    aspect-ratio: 335/225;
  }
}
@media (min-width: 565px) and (max-width: 1023px) {
  .section__gallery article {
    aspect-ratio: 335/225;
  }
}
.section__gallery article img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.section__gallery article::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  z-index: 1;
  pointer-events: none;
}
.section__gallery article div {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
}
.section__gallery article div h2 {
  padding: 20px;
  color: white;
  font-size: 18px;
}
@media (max-width: 565px) {
  .section__gallery article div h2 {
    padding: 10px;
    font-size: 16px;
  }
}
@media (min-width: 565px) and (max-width: 1023px) {
  .section__gallery article div h2 {
    padding: 10px;
    font-size: 16px;
  }
}

.pagination-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  padding: 3px 0;
  background-color: #FF6060;
  color: white;
  border: 1px solid #FF6060;
}
@media (max-width: 565px) {
  .pagination-btn {
    display: none;
  }
}

.pagination-btn:hover {
  background-color: white;
}

.pagination-btn:visited {
  color: white;
}

.pagination-btn:hover {
  background-color: white;
  color: #FF6060;
}

.pagination-btn-active {
  background-color: white;
  color: #FF6060;
  border: 1px solid #FF6060;
}

.pagination-btn-active:visited {
  color: #FF6060;
}/*# sourceMappingURL=index.module.css.map */