@use "../../scss/variables" as *;

footer {
    width: 100%;
    max-width: 1240px;
    height: 143px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding-top: 66px;
    align-items: center;
    div {
        display: flex;
        justify-content: center;

        @media (max-width: $w-smartphone) {
            width: 115px;
        }
    }
    p {
        font-size: 24px;
        text-align: center;
        @media (max-width: $w-smartphone) {
            font-size: 12px;
            width: 115px;
        }
    }
}