@use "./variables" as *;

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 45px 0 45px;

    @media (max-width: $w-smartphone) {
        padding: 20px 20px 0 20px;
    }

    @media (min-width: $w-smartphone) and (max-width: $w-tablets) {
        padding: 20px 20px 0 20px;
    }

    @media (min-width: $w-tablets) and (max-width: $w-desktop) {
        padding: 30px 30px 0 30px;
    }
}

main {
    width: 100%;
    max-width: 1240px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    @media (max-width: $w-smartphone) {
        margin: 25px 0;
    }

    @media (min-width: $w-smartphone) and (max-width: $w-tablets) {
        margin: 35px 0;
    }

    @media (min-width: $w-tablets) and (max-width: $w-desktop) {
        margin: 40px 0;
    }
}