body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 45px 0 45px;
}

header {
  width: 100%;
  max-width: 1240px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  height: 68px;
}
header .__nav {
  display: flex;
}
header .__nav ul {
  display: flex;
  gap: 57px;
}
header .__nav ul li {
  font-size: 24px;
}

#index {
  width: 100%;
  max-width: 1240px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  width: 100%;
  max-width: 1240px;
  height: 143px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding-top: 66px;
}
footer div {
  display: flex;
  justify-content: center;
}
footer span {
  display: block;
  font-size: 24px;
}

.index__banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 223px;
  position: relative;
}
.index__banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/public/background.png");
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  filter: brightness(40%);
  z-index: 1;
}
.index__banner h1 {
  font-weight: 700;
  font-size: 48px;
  color: white;
  z-index: 2;
}

.section__gallery {
  width: 100%;
  max-width: 1240px;
  background-color: #F6F6F6;
  border-radius: 25px;
  margin-top: 50px;
}
.section__gallery .section__gallery--div {
  display: grid;
  gap: 56px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 56px;
}
.section__gallery article {
  height: 340px;
  border-radius: 10px;
  position: relative;
}
.section__gallery article img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.section__gallery article::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  z-index: 1;
  pointer-events: none;
}
.section__gallery article div {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 50px;
}
.section__gallery article div h2 {
  padding: 0px 20px;
  color: white;
  font-size: 18px;
}

#contact {
  width: 100%;
  max-width: 1240px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
}
#contact section {
  width: 100%;
}
#contact .contact__banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 223px;
  position: relative;
}
#contact .contact__banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/public/background-contact.png");
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  filter: brightness(80%);
  z-index: 1;
}
#contact .contact__banner p {
  font-weight: 700;
  font-size: 48px;
  color: white;
  z-index: 2;
}
#contact .contact__list {
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin: 0px 104px;
}
#contact .contact__list .--collapse {
  width: 100%;
  height: 50px;
  background-color: #FF6060;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contact .contact__list .--collapse p {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin: 0px 15px;
}

#fiche {
  width: 100%;
  max-width: 1240px;
  margin-top: 50px;
  margin-bottom: 50px;
}
#fiche .__article .--header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#fiche .__article .--header h1 {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
  line-height: 143%;
}
#fiche .__article .--header h2 {
  font-size: 18px;
}
#fiche .__article .--header .--owner {
  display: flex;
  gap: 10px;
  text-align: right;
}
#fiche .__article .--header .--owner p {
  margin-top: 7px;
  color: #FF6060;
  font-size: 18px;
  line-height: 130%;
}
#fiche .__article .--header .--owner img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#fiche .__article .--tagsAndRating {
  display: flex;
  justify-content: space-between;
}
#fiche .__article .--tags-container {
  display: flex;
  gap: 10px;
}
#fiche .__article .--tags-container .--tags {
  display: flex;
  color: #fff;
  align-items: center;
  height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FF6060;
  font-size: 14px;
  border-radius: 10px;
}
#fiche .__article .--rating-container {
  display: flex;
  gap: 10px;
}
#fiche .__article .--rating-container .--filledStars {
  font-size: 24px;
  color: #FF6060;
}
#fiche .__article .--rating-container .--unfilledStars {
  font-size: 24px;
  color: #E3E3E3;
}

#__page-error {
  text-align: center;
  margin-top: 100px;
}
#__page-error h2 {
  font-size: 288px;
  font-weight: 700;
  color: #FF6060;
}
#__page-error .--text {
  margin-top: 100px;
  font-size: 36px;
  color: #FF6060;
}
#__page-error .--link {
  margin-top: 100px;
  font-size: 18px;
  margin-bottom: 100px;
}
#__page-error .--link a {
  border-bottom: 1px solid #E3E3E3;
}

.collapse-container {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.title {
  height: 50px;
  background-color: #FF6060;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.title p, .title h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.collapse {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.collapse .textInCollapse {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.35s ease;
  background-color: rgb(250, 250, 250);
  font-size: 14px;
  border-radius: 5px;
}
.collapse .textInCollapse ul, .collapse .textInCollapse p {
  margin: 20px;
  line-height: 120%;
}
.collapse .textInCollapse li {
  margin-top: 5px;
}
.collapse .textInCollapse .content {
  overflow: hidden;
}
.collapse .active {
  grid-template-rows: 1fr;
}

.rotated {
  transform: rotate(180deg);
}

.fa-angle-down {
  transition: transform 0.3s ease;
}/*# sourceMappingURL=style.css.map */