$red-color: #FF6060;

.collapse {

    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 5;

    .title {
        height: 50px;
        background-color: $red-color;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
        cursor: pointer;
        z-index: 3;

        span, h3 {
            color: #fff;
            font-size: 18px;
            font-weight: 700;
        }

        .rotated {
            transform: rotate(180deg);
        }

        .fa-angle-up {
            transition: transform 0.3s ease;
        }
    }

    .textInCollapse {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.35s ease;
        background-color: #F6F6F673;
        font-size: 14px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: -10px;
        z-index: 1;

        ul, p {
            margin: 20px;
            line-height: 120%;
        }

        li {
            margin-top: 5px;
        }

        .content {
            overflow: hidden;
            margin-top: 10px;
        }
    }

    .active {
        grid-template-rows: 1fr;
        flex: 1;
    }
}
